<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a href="/myapp/department/">Add department</a></p>
<p><a href="/myapp/designation/">Add desingantion</a></p>
<p><a href="/myapp/basicpay/">Add basic pay</a></p>
<p><a href="/myapp/registration/">Staff registration</a></p>
<p><a href="/myapp/deduction/">Add deduction</a></p>
<p><a href="/myapp/notification/">Add notification</a></p>
<p><a href="/myapp/assignwork">Assign work</a></p>

</body>
</html>