{% extends "admin_index.html" %}
{% block body %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
        <style>
         h2 {
  font-size: 40px;
  font-weight: 600;
  background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
    </style>
</head>

<body>
<h2 align="center">View Leave Request</h2><br>
<form id="form1" name="form1" method="post" action="">
  <table id="tableid"  class="table table-borderless table-hover table-striped">
    <tr style=" color: black; background-color: grey">
      <td width="70">Sl No</td>
      <td width="79">Name</td>
      <td width="148">Department</td>
      <td width="151">Designation</td>
      <td width="73">Date</td>
      <td width="86">&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.STAFF.name }}</td>
      <td>{{ i.STAFF.DESIGNATION.DEPARTMENT.department_name }}</td>
      <td>{{ i.STAFF.DESIGNATION.designation_name }}</td>
      <td>{{ i.date }}</td>
        {% if i.status == "pending" %}
      <td><a href=/myapp/view_leave_request_form/{{ i.id }}#about>Take Action</a></td>
    {% elif i.status == 'Accepted' %}
        <td style="color: green">Accepted</td>
    {% else %}
        <td style="color: red">{{ i.status }}</td>
    </tr>
          {% endif %}
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
