{% extends "admin_index.html" %}
{% block body %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style>
         h2 {
  font-size: 40px;
  font-weight: 600;
  background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
    </style>

{#          <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">#}
{#<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
{#<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>#}


</head>

<body>
<h2 align="center">View Attendance</h2><br>
<form id="form1" name="form1" method="post" action="/myapp/view_attendance_search/#about">
<select name="month" class="form-control-sm">
    <option value="1" {% if month == '1' %}selected {% endif %}>January</option>
    <option value="2" {% if month == '2' %}selected {% endif %}>February</option>
    <option value="3" {% if month == '3' %}selected {% endif %}>March</option>
    <option value="4" {% if month == '4' %}selected {% endif %}>April</option>
    <option value="5" {% if month == '5' %}selected {% endif %}>May</option>
    <option value="6" {% if month == '6' %}selected {% endif %}>June</option>
    <option value="7" {% if month == '7' %}selected {% endif %}>July</option>
    <option value="8" {% if month == '8' %}selected {% endif %}>August</option>
    <option value="9" {% if month == '9' %}selected {% endif %}>September</option>
    <option value="10" {% if month == '10' %}selected {% endif %} >October</option>
    <option value="11" {% if month == '11' %}selected {% endif %} >November</option>
    <option value="12" {% if month == '12' %}selected {% endif %} >December</option>
</select>
<input type="submit" value="Search" class="btn btn-warning">
  <table id="tableid" class="table table-borderless table-hover table-striped">

  <thead>
    <tr style="background-color: grey">
      <td width="88">SL No</td>
      <td>Date</td>
      <td width="93">Name</td>
      <td width="158">Department</td>
      <td width="180">Designation</td>
      <td width="169">Entry Time</td>
        <td>Entry Status</td>
      <td width="144">Exit Time</td>
      <td width="124">Exit Status</td>
    </tr>
  </thead>

  <tbody>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.STAFF.name }}&nbsp;</td>
      <td>&nbsp;{{ i.STAFF.DESIGNATION.DEPARTMENT.department_name }}</td>
      <td>{{ i.STAFF.DESIGNATION.designation_name }}&nbsp;</td>
      <td>{{ i.entry_time }}</td>
        <td>{{ i.entry_status }}&nbsp;</td>
      <td>&nbsp;{{ i.exit_time }}</td>
      <td>{{ i.exit_status }}</td>
    </tr>
      {% endfor %}
  </tbody>
  </table>

</form>

{#<script>#}
{#  $(document).ready( function () { $('#tableid').DataTable(); } );#}
{#  /*function myFunction() {#}
{#  var popup = document.getElementById("myPopup");#}
{#  popup.classList.toggle("show");#}
{#  }*/#}
{#  </script>#}
</body>
</html>
{% endblock %}
