{% extends "admin_index.html" %}
{% block body %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style>
         h2 {
  font-size: 40px;
  font-weight: 600;
  background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
    </style>
</head>

<body>
<h2 align="center">View Staffs</h2><br>
<form id="form1" name="form1" method="post" action="">
  <table  height="194" border="1" class="table table-bordered table-secondary">
    <tr>
      <th width="101">Staff_id</th>
      <th width="74">Name</th>
      <th width="148">Department</th>
      <th width="150">Designation</th>
      <td width="96">&nbsp;</td>
      <td width="96">&nbsp;</td>
      
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ i.id }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.DESIGNATION.DEPARTMENT.department_name }}</td>
      <td>{{ i.DESIGNATION.designation_name }}&nbsp;</td>
      <td><a href="/myapp/updatestaff/{{ i.id }}#about">Edit</a> </td>
      <td><a href="/myapp/viewmorestaff/{{ i.id }}#about">View More</a> </td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
